@model Mvc.Models.Entity.TblYeteneklerim

@{
    ViewBag.Title = "YetenekGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<h2>Yetenek Düzenleme Sayfası</h2>
<br />
<form method="post">

    @Html.Label("Yetenek Açıklaması*")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Yetenek, "", new { @style = "color:red" })
    <br />
    @Html.Label("Derece*")
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Oran, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
</form>